.mintDataContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2em;
  text-align: center;
  margin-bottom: 4em;
}

.stat {
  display: flex;
  justify-content: space-between;
}
